<html>
<head>

</head>
<body>
<h3>Hello <%=email%>!</h3>
<p>
    We received a request to reset the password for your openHAB Cloud account.
    If you don't want to change your password, please ignore this email.
</p>
<p>
    If you want to reset your password, please click on the following link
    (or copy and paste it into your web browser):
</p>
<p>
    <a href="<%=resetUrl%>"><%=resetUrl%></a>
</p>
<p>
    The link takes you to a secure web page where you can set a new password of your choosing.
    The link will expire in 24 hours.
</p>
<p>
<h3>Best regards,
    openHAB Cloud enrollment system!
</h3></p>
</body>
</html>
