version: '2'
services:
    app-1:
        container_name: app-1
        build: 
           context: ./
           dockerfile: ./docker/node/Dockerfile
        volumes:
        - /opt/openhabcloud
        networks:
        - ohcloud-network
        links:
        - mongodb
        - redis
        ports:
        - "3000:3000"     
        restart: always     
    mongodb:
        container_name: mongodb
        build: 
           context: ./
           dockerfile: ./docker/mongo/Dockerfile
        command: mongod --smallfiles
        networks:
        - ohcloud-network
        ports:
        - "27017:27017"
        restart: always
    redis:
        container_name: redis
        build: 
           context: ./
           dockerfile: ./docker/redis/Dockerfile
        networks:
        - ohcloud-network
        ports:
        - "6379:6379"
        restart: always
    nginx:
        container_name: nginx
        build: 
           context: ./
           dockerfile: ./docker/nginx/Dockerfile
        networks:
        - ohcloud-network
        ports:
        - "80:80"
        - "443:443"
        links:
        - app-1:app-1
        volumes_from:
        - app-1
networks:
  ohcloud-network:
    driver: bridge