---
- name: Create Route53 health checks for app servers
  amazon.aws.route53_health_check:
    state: present
    ip_address: "{{ item.value.ansible_host }}"
    port: 443
    type: HTTPS
    resource_path: /health
    fqdn: "{{ hostvars[groups['appservers'][0]]['domain'] }}"
    request_interval: 10
    failure_threshold: 3
    tags:
      Name: "{{ item.key }}-health"
  register: health_checks
  loop: "{{ hostvars | dict2items | selectattr('value.route53_weight', 'defined') | list }}"
  environment:
    AWS_ACCESS_KEY_ID: "{{ vault_aws_access_key_id }}"
    AWS_SECRET_ACCESS_KEY: "{{ vault_aws_secret_access_key }}"

- name: Create weighted A records for app servers
  amazon.aws.route53:
    state: present
    zone: "{{ hostvars[groups['appservers'][0]]['domain'] }}"
    record: "{{ hostvars[groups['appservers'][0]]['domain'] }}"
    type: A
    value: "{{ item.item.value.ansible_host }}"
    ttl: 60
    weight: "{{ item.item.value.route53_weight }}"
    identifier: "{{ item.item.key }}"
    health_check: "{{ item.health_check.id }}"
    overwrite: true
  loop: "{{ health_checks.results }}"
  environment:
    AWS_ACCESS_KEY_ID: "{{ vault_aws_access_key_id }}"
    AWS_SECRET_ACCESS_KEY: "{{ vault_aws_secret_access_key }}"

- name: Remove old CNAME for home subdomain
  amazon.aws.route53:
    state: absent
    zone: "{{ hostvars[groups['appservers'][0]]['domain'] }}"
    record: "home.{{ hostvars[groups['appservers'][0]]['domain'] }}"
    type: CNAME
    value: "{{ hostvars[groups['appservers'][0]]['domain'] }}"
  environment:
    AWS_ACCESS_KEY_ID: "{{ vault_aws_access_key_id }}"
    AWS_SECRET_ACCESS_KEY: "{{ vault_aws_secret_access_key }}"
  ignore_errors: true

- name: Create weighted A records for home subdomain
  amazon.aws.route53:
    state: present
    zone: "{{ hostvars[groups['appservers'][0]]['domain'] }}"
    record: "home.{{ hostvars[groups['appservers'][0]]['domain'] }}"
    type: A
    value: "{{ item.item.value.ansible_host }}"
    ttl: 60
    weight: "{{ item.item.value.route53_weight }}"
    identifier: "{{ item.item.key }}-home"
    health_check: "{{ item.health_check.id }}"
    overwrite: true
  loop: "{{ health_checks.results }}"
  environment:
    AWS_ACCESS_KEY_ID: "{{ vault_aws_access_key_id }}"
    AWS_SECRET_ACCESS_KEY: "{{ vault_aws_secret_access_key }}"

- name: Create individual A records for each server
  amazon.aws.route53:
    state: present
    zone: "{{ hostvars[groups['appservers'][0]]['domain'] }}"
    record: "{{ item }}.{{ hostvars[groups['appservers'][0]]['domain'] }}"
    type: A
    value: "{{ hostvars[item].ansible_host }}"
    ttl: 60
    overwrite: true
  loop: "{{ groups['appservers'] + groups['dbservers'] }}"
  environment:
    AWS_ACCESS_KEY_ID: "{{ vault_aws_access_key_id }}"
    AWS_SECRET_ACCESS_KEY: "{{ vault_aws_secret_access_key }}"
