<% section = 'account' %>
<%- include header.ejs %>
<section id="content">
    <header class="headerPage">
        <div class="container clearfix">
            <div class="row">
                <h1 class="span8">My Account</span></h1>
                <div class="span4" id="navTrail"> <a href="/" class="homeLink">home</a><span>/</span>Account</div>
            </div>
        </div>
    </header>
</section>
<div class="slice clearfix">
    <div class="container">
        <%- include alerts.ejs %>
        <div class="row">
            <div class="span6">
                <h3>Change password</h3>
                <div class="divider"><span></span></div>
            </div>
        </div>
        <div class="row">
            <div class="span6">
                <form method="post" action="/accountpassword" id="contactform">
                    <input type="hidden" name="_csrf" value="<%= token %>">
                    <label for="oldpassword">Old password</label>
                    <input id="oldpassword" name="oldpassword" type="password">
                    <label for="password">New password</label>
                    <input id="password" type="password" name="password">
                    <label for="password1">Re-type new password</label>
                    <input id="password1" type="password" name="password1">
                    <button name="submit" type="submit" class="btn" id="submit">Change</button>
                </form>
                <div id="message"></div>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <h3>Dangerous actions</h3>
                <div class="divider"><span></span></div>
            </div>
        </div>
        <div class="row">
            <div class="span6">
                <a class="btn btn-danger" href="/itemsdelete">Delete Items and Events</a>
            </div>
            <div class="span6">
                <a class="btn btn-danger" href="/accountdelete">Delete account</a>
            </div>
        </div>
    </div>
</div>
<%- include footer.ejs %>
