<% section = 'account' %>
<%- include ('header.ejs') %>
<h1 class="page-header">Delete My Account</h1>
<%- include ('alerts.ejs') %>
<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Warning!</h4>
    <p>You are going to delete your account! All data will be completely erased!</p>
    <hr>
    <p class="mb-0">Deleting account will erase all openHAB, device, notification and event data. This can't be undone!</p>
</div>
<form method="post" action="/accountdelete">
    <input type="hidden" name="_csrf" value="<%= token %>">
    <button type="submit" class="btn btn-danger">Delete Account</button>
</form>
<%- include ('footer.ejs') %>
