<% if (errormessages.length > 0) { %>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <% if(errormessages.length === 1) { %>
    <%= errormessages %>
    <% } else { %>
    <ul class="mb-0">
        <% errormessages.forEach(function(err) { %>
        <li><%= err %></li>
        <% }) %>
    </ul>
    <% } %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>
<% if (infomessages.length > 0) { %>
<div class="alert alert-info alert-dismissible fade show" role="alert">
    <%= infomessages %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>
