<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>openHAB Cloud - <%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap-icons/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <script src="/js/theme.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary border-bottom">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="/img/openhab-logo-top.png" alt="openHAB"></a>
    </div>
</nav>
<div class="container mt-4">
    <div class="text-center py-5">
        <h2><%= title %></h2>
        <p class="lead"><%= message %></p>
        <p><a href="/" class="btn btn-primary">Return to Home</a></p>
        <% if (error && error.stack) { %>
        <div class="text-start mt-4">
            <pre class="bg-body-secondary p-3 rounded"><%= error.stack %></pre>
        </div>
        <% } %>
    </div>
</div>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
