<footer class="ohc-footer">
    <div class="container">
        <p>Copyright &copy; <%=new Date().getFullYear()%> by the <a href="https://github.com/openhab">openHAB Community</a> and the <a href="https://www.openhabfoundation.org/">openHAB Foundation</a></p>
    </div>
</footer>
</div>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
