<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>openHAB Cloud - <%= title %></title>
    <meta name="description" content="openHAB Cloud - cloud companion service for openHAB">
    <meta name="author" content="openHAB">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap-icons/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <script src="/js/theme.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg fixed-top ohc-navbar">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img class="logo-light" src="/img/openhab-logo-top.png" alt="openHAB">
            <img class="logo-dark" src="/img/openhab-logo-top-dark.png" alt="openHAB">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav me-auto">
                <% if (user) { %>
                <li class="nav-item">
                    <a class="nav-link<% if (section == 'index') { %> active<% } %>" href="/">Home</a>
                </li>
                <% if (!user.parent) { %>
                <li class="nav-item">
                    <a class="nav-link<% if (section == 'items') { %> active<% } %>" href="/items">Items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link<% if (section == 'events') { %> active<% } %>" href="/events">Event Log</a>
                </li>
                <% } %>
                <li class="nav-item">
                    <a class="nav-link<% if (section == 'notifications') { %> active<% } %>" href="/notifications">Notifications</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.openhab.org/addons/integrations/openhabcloud/" target="_blank" rel="noopener noreferrer">Docs <i class="bi bi-box-arrow-up-right"></i></a>
                </li>
                <% } %>
            </ul>
            <ul class="navbar-nav">
                <% if (user) if (locals.openhabstatus) { %>
                <li class="nav-item d-flex align-items-center me-2">
                    <% if (openhabstatus == 'online') { %>
                    <a class="badge badge-online text-decoration-none text-white" href="/events?source=openhab" title="Since <%= date_util(openhablastonline, timeZone).toRelativeCalendar() %>">Online</a>
                    <% } else { %>
                    <a class="badge badge-offline text-decoration-none text-white" href="/events?source=openhab" title="Since <%= date_util(openhablastonline, timeZone).toRelativeCalendar() %>">Offline</a>
                    <% } %>
                </li>
                <% } %>
                <% if (user) if (user.group == 'staff') { %>
                <li class="nav-item">
                    <a class="nav-link<% if (section == 'staff') { %> active<% } %>" href="/staff/stats">Staff</a>
                </li>
                <% } %>
                <% if (user) { %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle<% if (['account', 'devices', 'applications', 'users'].indexOf(section) !== -1) { %> active<% } %>" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><%= user.username %></a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item<% if (section == 'account') { %> active<% } %>" href="/account">Account</a></li>
                        <li><a class="dropdown-item<% if (section == 'devices') { %> active<% } %>" href="/devices">Devices</a></li>
                        <li><a class="dropdown-item<% if (section == 'applications') { %> active<% } %>" href="/applications">Applications</a></li>
                        <% if (user.role == "master") { %>
                        <li><a class="dropdown-item<% if (section == 'users') { %> active<% } %>" href="/users">Users</a></li>
                        <% } %>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    </ul>
                </li>
                <% } %>
                <li class="nav-item d-flex align-items-center">
                    <button class="theme-toggle" id="theme-toggle" type="button" title="Toggle theme" aria-label="Toggle theme">
                        <i class="bi bi-moon-fill" id="theme-icon"></i>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container mt-4">
<script>
(function () {
    <% if (typeof timeZone !== 'undefined' && timeZone === 'undefined') { %>
    var tz = Intl.DateTimeFormat().resolvedOptions().timeZone;
    if (tz) fetch('/setTimezone?tz=' + encodeURIComponent(tz));
    <% } %>
})();
</script>
