<%- include ('header.ejs') %>
<h1 class="page-header">Invitation</h1>
<%- include ('alerts.ejs') %>
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Invite your friends to openHAB Cloud!</h3>
                <form method="post" action="/invitations">
                    <input type="hidden" name="_csrf" value="<%= token %>">
                    <div class="form-group">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                    </div>
                    <button type="submit" class="btn btn-primary">Send invitation</button>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include ('footer.ejs') %>
