<% section = 'account' %>
<%- include ('header.ejs') %>
<h1 class="page-header">Delete Items and Events</h1>
<%- include ('alerts.ejs') %>
<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Warning!</h4>
    <p>You are going to delete your items and event data! All items and event data will be completely erased!</p>
    <hr>
    <p class="mb-0">Deleting items and event data will clean up all items and related events.</p>
</div>
<form method="post" action="/itemsdelete">
    <input type="hidden" name="_csrf" value="<%= token %>">
    <button type="submit" class="btn btn-danger">Delete Items and Events</button>
</form>
<%- include ('footer.ejs') %>
