<% section = 'login' %>
<%- include ('header.ejs') %>
<!-- page content -->
<section id="content">
    <header class="headerPage">
        <div class="container clearfix">
            <div class="row">
                <h1 class="span8"><span>Lost my password</span></h1>
                <div class="span4" id="navTrail"> <a href="/" class="homeLink">home</a><span>/</span>Login</div>
            </div>
        </div>
    </header>
    <div class="slice clearfix">
        <div class="container">
            <%- include ('alerts.ejs') %>
            <div class="row">
                <div class="span4"></div>
                <div class="span4">
                    <h3>Reset my password</h3>
                    <div class="divider"><span></span></div>
                </div>
            </div>
            <div class="row">
                <div class="span4"></div>
                <div class="span4">
                    <form method="post" action="/lostpassword" id="contactform">
                        <input type="hidden" name="_csrf" value="<%= token %>" class="form-control">
                        <label for="email"></label>
                        <input type="text" name="email" id="email" placeholder="E-Mail" class=""/>
                        <br />
                        <button name="submit" type="submit" class="btn" id="submit">Reset password</button>
                    </form>
                    <div id="message"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- page content -->
<%- include ('footer.ejs') %>
