storage:
  dbPath: /var/lib/mongodb

systemLog:
  destination: file
  logAppend: true
  path: /var/log/mongodb/mongod.log

net:
  bindIp: "127.0.0.1,{{ ansible_host }}"
  port: 27017

processManagement:
  timeZoneInfo: /usr/share/zoneinfo

security:
  authorization: enabled
