<html>
<head>

</head>
<body>
<h3>Hello <%= email %>!</h3>
<p>
Thank you for registering for openHAB Cloud service, a cloud companion for your awesome openHAB!
</p>
<p>
Just one more step...
<p>
    Click on <a href="https://myopenhab.org/verify?code=<%=code%>">this link</a> to verify your e-mail address and activate your account!
</p>
<h3>Best regards,
    openHAB Cloud team!
</h3></p>
</body>
</html>
