<html>
<head>

</head>
<body>
<h3>Hello openHAB team!</h3>
<p>
    <h3>A new user just enrolled to participate in early beta for openHAB Cloud!</h3>
</p>
<p>
User's e-mail is <%=email%><br/>
User's operating system is <%=platform%><br/>
User's experience in Java is <%=java%><br/>
Here is how user describes his openHAB setup:<br/>
<%=description%>
</p>
<p>
<h3>Best regards,
    openHAB Cloud enrollment system!
</h3></p>
</body>
</html>