<html>
<head>

</head>
<body>
<h3>Hello <%= email %>!</h3>
<p>
    You recently requested access to openHAB Cloud beta testing and were granted an invitation to join. Unfortunately we
    didn't hear from you since then and you didn't activate your invitation. We would be more then happy to help you
    with your beta participation. If you decided not to join, we are eager to know the reason!
</p>
<h3>Best regards,
    openHAB Cloud team!
</h3></p>
</body>
</html>
