<html>
<head>

</head>
<body>
<h3>Hello <%= email %>!</h3>
<p>
    We didn't hear anything from your openHAB for more then 3 days and we are worried if everything is fine with
    your openHAB installation? If you recently did upgrade your openHAB you could have accidentally deleted
    uuid and secret files, so your openHAB produced new ones and you need to update this information on the
    openHAB Cloud "My Account" page.
</p>
<h3>Best regards,
    openHAB Cloud team!
</h3></p>
</body>
</html>
