<% section = 'docs' %>
<%- include ('../header.ejs') %>
<h1 class="page-header">Documentation</h1>
<div class="row">
    <div class="col-md-3 mb-3">
        <nav class="sidebar-nav">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item"><a class="nav-link" href="/docs">Getting started</a></li>
                <li class="nav-item"><a class="nav-link" href="/docs/notifications">Notifications</a></li>
                <li class="nav-item"><a class="nav-link" href="/docs/persistence">Persistence</a></li>
                <li class="nav-item"><a class="nav-link active" href="/docs/ifttt">IFTTT</a></li>
            </ul>
        </nav>
    </div>
    <div class="col-md-9 docs-content">
        <h3>IFTTT</h3>
        <p>
            With openHAB Cloud you can connect your openHAB with IFTTT and integrate it with miriade of recipes
            which will make it instantly work with a huge number of applications and devices on the Internet.
        </p>
        <p>
            Activating IFTTT integration is more then easy. Just log in to your <a href="https://ifttt.com">IFTTT</a> account and activate
            <a href="https://ifttt.com/openhab">openHAB channel</a>. You will be forwarded to openHAB Cloud website to authorize IFTTT channel connection.
            Before you start creating IFTTT recipes you need to configure <a href="/docs/persistence">persistence for openHAB Cloud</a>.
        </p>
        <p>
            Only those items which you configure for persistence to openHAB Cloud will be visible to IFTTT.
            You will also be able to send commands to those items from IFTTT recipes. Items will appear in openHAB Cloud
            and thus in IFTTT only after at least one persistence record will be sent to openHAB Cloud from your
            openHAB.
        </p>
        <p>
            To make it easier we've created several dozens of <a href="https://ifttt.com/p/openhab/shared">useful openHAB recipes</a> for you to get started!
        </p>
        <p>
            You can deactivate openHAB channel in IFTTT or delete IFTTT authorization in <a href="/applications">openHAB Cloud
            Applications</a> section anytime.
        </p>
    </div>
</div>
<%- include ('../footer.ejs') %>
