<% section = 'docs' %>
<%- include ('../header.ejs') %>
<h1 class="page-header">Documentation</h1>
<div class="row">
    <div class="col-md-3 mb-3">
        <nav class="sidebar-nav">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item"><a class="nav-link" href="/docs">Getting started</a></li>
                <li class="nav-item"><a class="nav-link active" href="/docs/notifications">Notifications</a></li>
                <li class="nav-item"><a class="nav-link" href="/docs/persistence">Persistence</a></li>
                <li class="nav-item"><a class="nav-link" href="/docs/ifttt">IFTTT</a></li>
            </ul>
        </nav>
    </div>
    <div class="col-md-9 docs-content">
        <h3>openHAB status notifications</h3>
        <p>
            Every time your openHAB connects to openHAB Cloud or disconnects from it, you will automatically
            receive a notification to your devices telling you if openHAB is online or offline. openHAB Cloud
            has a 300 seconds (5 minute) delay on sending those notifications. When your openHAB goes
            offline we will wait for 5 minutes. If your openHAB goes online during this period, nothing will
            happen and we will not bother your. If not, we will notify you that your openHAB is offline.
        </p>
        <h3>Sending notifications</h3>
        <p>
            As soon as you configure Android or iOS app to work with your myopenhab.org account, it will automatically register
            itself to receive notifications. Notifications sent to your device will appear as any other applications
            notifications. Now you can use a special action in your openHAB rules to send notifications.
        </p>
        <p class="text-info-emphasis">
            <strong>Example:</strong> <code>sendNotification("your openHAB Cloud user email here", "your text here")</code>
        </p>
        <p>
            This will send a notification with "your text here" to your device. If you use multiply devices with the
            same account configured, all of them will receive this notifications.
        </p>
        <p class="text-info-emphasis">
            <strong>Example:</strong> <code>sendBroadcastNotification("your text here")</code>
        </p>
        <p>
            This will send a notification with "your text here" to all devices of all users of your openHAB Cloud account.
        </p>
        <p class="text-info-emphasis">
            <strong>Example:</strong> <code>sendLogNotification("your text here")</code>
        </p>
        <p>
            This will send a log notification with "your text here". Log notifications are not sent to any of your devices, they
            are just saved to notifications list and will be listed in <a href="/notifications">notifications area</a> of openHAB Cloud and mobile apps.
        </p>
        <p>
            You can test if notifications are sent to any of your mobile devices by going to <a href="/devices">openHAB Cloud Devices</a>
            section and sending a message with any text to any particular device!
        </p>
        <h3>Sending SMS</h3>
        <p>Now you can send SMS directly to any mobile number from your openHAB.</p>
        <p class="text-info-emphasis">
            <strong>Example:</strong> <code>sendSms("+phone in international format", "your text here")</code>
        </p>
        <p>
            This will send an SMS with "your text here" to the mobile phone number you specified. The phone number should be
            in international format starting with '+', like +18001234567.
        </p>
        <p>
            P.S. please don't forget that SMS is a paid thing, and openHAB Cloud is a free service. So don't spend
            all of our money on spamming yourself :-)
        </p>
    </div>
</div>
<%- include ('../footer.ejs') %>
