<% section = 'docs' %>
<%- include ('../header.ejs') %>
<h1 class="page-header">Documentation</h1>
<div class="row">
    <div class="col-md-3 mb-3">
        <nav class="sidebar-nav">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item"><a class="nav-link" href="/docs">Getting started</a></li>
                <li class="nav-item"><a class="nav-link" href="/docs/notifications">Notifications</a></li>
                <li class="nav-item"><a class="nav-link active" href="/docs/persistence">Persistence</a></li>
                <li class="nav-item"><a class="nav-link" href="/docs/ifttt">IFTTT</a></li>
            </ul>
        </nav>
    </div>
    <div class="col-md-9 docs-content">
        <h3>Persistence</h3>
        <p>
            You can persist your events and data in openHAB Cloud cloud. To do that you need to configure openHAB Cloud
            persistence in <em>configurations/persistence/myopenhab.persist</em>, defining the policy to store your data.
        </p>
        <p class="text-info-emphasis">
            <strong>Example:</strong><br>
            <code>
                Strategies {<br>
                &nbsp;&nbsp;default = everyChange<br>
                }<br>
                Items {<br>
                &nbsp;&nbsp;* : strategy = everyChange<br>
                }
            </code>
        </p>
        <p>
            This persist all your data, with every change, to openHAB Cloud cloud.
        </p>
        <p>
            Sending persistence data to openHAB Cloud is needed if you use any data-driven cloud functions,
            <a href="/docs/ifttt">IFTTT</a> integration for example.
        </p>
        <p>
            You will also be able to see all
            items status changes in your <a href="/events">event log</a> and current item state in
            <a href="/items">items</a> section.
        </p>
    </div>
</div>
<%- include ('../footer.ejs') %>
