{
  "system": {
    "host": "${DOMAIN_NAME}",
    "listenIp": "0.0.0.0",
    "port": ${PORT},
    "protocol": "https",
    "proxyHost": "${PROXY_HOST}",
    "proxyPort": ${PROXY_PORT},
    "subDomainCookies": true,
    "muteNotifications": false,
    "offlineNotificationTime": 300000,
    "connectionLockTimeSeconds": 70,
    "logger": {
      "dir": "./logs/",
      "maxFiles": "7d",
      "level": "info",
      "type": "both",
      "morgan": "${MORGAN_FORMAT}"
    },
    "healthEndpoint": {
      "enabled": true
    }
  },
  "express": {
    "key": "${EXPRESS_KEY}"
  },
  "mongodb": {
    "hosts": ["${MONGO_HOST}:${MONGO_PORT}"],
    "db": "${MONGO_DB}",
    "user": "${MONGO_USER}",
    "password": "${MONGO_PASSWORD}"
  },
  "redis": {
    "host": "${REDIS_HOST}",
    "port": ${REDIS_PORT},
    "password": "${REDIS_PASSWORD}"
  },
  "mailer": {
    "host": "${SMTP_HOST}",
    "port": ${SMTP_PORT},
    "secureConnection": false,
    "user": "${SMTP_USER}",
    "password": "${SMTP_PASSWORD}",
    "from": "${SMTP_FROM}"
  },
  "gcm": {
    "senderId": "${FCM_SENDER_ID}",
    "serviceFile": "${FCM_SERVICE_FILE}"
  },
  "ifttt": {
    "iftttChannelKey": "${IFTTT_CHANNEL_KEY}",
    "iftttTestToken": "${IFTTT_TEST_TOKEN}"
  },
  "legal": {
    "terms": "",
    "policy": ""
  },
  "apps": {
    "appleId": "492054521",
    "playStoreId": "org.openhab.habdroid"
  },
  "registration_enabled": true
}
