---
- name: Base setup on all servers
  hosts: all
  tags: [common]
  vars_files: [vault.yml]
  roles:
    - common

- name: Database server
  hosts: dbservers
  tags: [db]
  vars_files: [vault.yml]
  roles:
    - db

- name: SSL certificates
  hosts: appservers
  tags: [certbot]
  vars_files: [vault.yml]
  roles:
    - certbot

- name: App servers
  hosts: appservers
  tags: [app]
  vars_files: [vault.yml]
  roles:
    - app

- name: DNS records
  hosts: localhost
  connection: local
  tags: [dns]
  vars_files: [vault.yml]
  roles:
    - route53
